Repository Alpha-ka-JS/Modern-JS, pull requests merged in 2020-08, with the labels that each got.

#60 [Chapter9] Upload 9.6 to 9.10 souce code
  JeongSungWon/ch9/ch9_10.js
  JeongSungWon/ch9/ch9_6.js
  JeongSungWon/ch9/ch9_7.js
  JeongSungWon/ch9/ch9_8.js
  JeongSungWon/ch9/ch9_9.js
Labels: SungWon

#64 [Chapter9] add code from 9.6 to 10.3
  ChoiEunjoung/Chapter10/ex10-1.js
  ChoiEunjoung/Chapter10/ex10-2.js
  ChoiEunjoung/Chapter10/ex10-3.js
  ChoiEunjoung/Chapter10/ex10-4.js
  ChoiEunjoung/Chapter10/ex10-5.js
  ChoiEunjoung/Chapter9/ex9-10.js
  ChoiEunjoung/Chapter9/ex9-11.js
  ChoiEunjoung/Chapter9/ex9-12.js
  ChoiEunjoung/Chapter9/ex9-13.js
  ChoiEunjoung/Chapter9/ex9-14.js
Labels: EUNJOUNG

#61 [Chapter9] upload the rest code of chapter 9
  LeeJehwan/ch9/9.10.js
  LeeJehwan/ch9/9.6.js
  LeeJehwan/ch9/9.7.js
  LeeJehwan/ch9/9.8.js
  LeeJehwan/ch9/9.9.js
Labels: Jehwan

#63 [Chapter10] upload chapter 10 code
  LeeJehwan/ch10/10.1.js
  LeeJehwan/ch10/10.2.js
  LeeJehwan/ch10/10.3.js
Labels: Jehwan

#65 [Chapter10] Upload 10.1 to 10.3 code
  JeongSungWon/ch10/ch10_1.js
  JeongSungWon/ch10/ch10_2.js
  JeongSungWon/ch10/ch10_3.js
Labels: SungWon

#73 [Chapter10&11] upload Chpater 10 & 11 at once
  ChoiEunjoung/Chapter10/ex10-6.js
  ChoiEunjoung/Chapter10/ex10-7.js
  ChoiEunjoung/Chapter10/ex10-8.js
  ChoiEunjoung/Chapter10/ex10-9.js
  ChoiEunjoung/Chapter11/ex11-1.js
  ChoiEunjoung/Chapter11/ex11-2.js
Labels: EUNJOUNG

#69 [Chapter11] Upload chapter11 code
  JeongSungWon/ch11/ch11_1.js
  JeongSungWon/ch11/ch11_2.js
Labels: SungWon

#67 [Chapter10] upload chapter 10.4 code
  LeeJehwan/ch10/10.4.1.js
  LeeJehwan/ch10/10.4.2.html
  LeeJehwan/ch10/10.4.3.html
  LeeJehwan/ch10/mole.jpg
Labels: Jehwan

#68 [Chapter11] add ch11 code
  LeeJehwan/ch11/11.1.js
  LeeJehwan/ch11/11.2.js
Labels: Jehwan

#71 [Chapter12] upload chapter 12
  LeeJehwan/ch12/12.1.js
  LeeJehwan/ch12/12.2.js
  LeeJehwan/ch12/12.3.js
  LeeJehwan/ch12/12.4.js
  LeeJehwan/ch12/12.5.js
Labels: Jehwan

#70 [Chapter10] Upload 10.4 code
  JeongSungWon/ch10/ch10_4(426p).html
  JeongSungWon/ch10/ch10_4.js
  JeongSungWon/ch10/ch10_4_1(432p).html
  JeongSungWon/ch10/mole.jpg
Labels: SungWon

#72 [Chapter12] Upload 12.1 code
  JeongSungWon/ch12/ch12_1.js
Labels: SungWon

#78 [Chapter12] Upload 12.2 to 12.5 code
  JeongSungWon/ch12/ch12_2.js
  JeongSungWon/ch12/ch12_3.js
  JeongSungWon/ch12/ch12_4.js
  JeongSungWon/ch12/ch12_5.js
Labels: SungWon

#80 [Chapter12] Upload the code of Chapter 12
  ChoiEunjoung/Chapter12/ex1.js
  ChoiEunjoung/Chapter12/ex2.js
  ChoiEunjoung/Chapter12/ex3.js
  ChoiEunjoung/Chapter12/ex4.js
  ChoiEunjoung/Chapter12/ex5.js
Labels: EUNJOUNG
