Repository Alpha-ka-JS/Modern-JS, pull requests merged in 2020-09, with the labels that each got.

#81 [Chapter13] Upload code Chapter 13
  ChoiEunjoung/Chapter13/ex13-1.js
  ChoiEunjoung/Chapter13/ex13-2.js
  ChoiEunjoung/Chapter13/ex13-3.js
  ChoiEunjoung/Chapter13/ex13-4.js
  ChoiEunjoung/Chapter13/ex13-5.html
  ChoiEunjoung/Chapter13/ex13-6.html
  ChoiEunjoung/Chapter13/newpage.html
Labels: EUNJOUNG

#77 [Chpater13] upload ch13 웹 브라우저의 객체
  LeeJehwan/ch13/13.1.js
  LeeJehwan/ch13/13.2.html
  LeeJehwan/ch13/13.3.html
  LeeJehwan/ch13/13.4.html
  LeeJehwan/ch13/13.5.html
  LeeJehwan/ch13/13.7.1.html
  LeeJehwan/ch13/13.7.2.html
  LeeJehwan/ch13/graph.html
  LeeJehwan/ch13/newpage.html
Labels: Jehwan

#82 [Chapter13] Upload ch13 code
  JeongSungWon/ch13/ch13_1.js
  JeongSungWon/ch13/ch13_2.js
  JeongSungWon/ch13/ch13_3.js
  JeongSungWon/ch13/ch13_4.js
  JeongSungWon/ch13/ch13_5.js
  JeongSungWon/ch13/ch13_6.js
  JeongSungWon/ch13/ch13_7.js
  JeongSungWon/ch13/ch13_7_1(506p)_newpage.html
  JeongSungWon/ch13/ch13_7_1(506p)_window.html
  JeongSungWon/ch13/ch13_7_2(509p)_drawgraph.html
  JeongSungWon/ch13/ch13_7_2(509p)_input.html
Labels: SungWon

#83 [chapter14] add chapter14
  LeeJehwan/ch14/14.1.html
  LeeJehwan/ch14/14.2.1.html
  LeeJehwan/ch14/14.2.2.html
  LeeJehwan/ch14/14.2.3.html
  LeeJehwan/ch14/14.2.4.html
  LeeJehwan/ch14/14.2.5.html
  LeeJehwan/ch14/14.2.6.html
  LeeJehwan/ch14/14.2.7.html
  LeeJehwan/ch14/14.3.1.html
  LeeJehwan/ch14/14.3.2.html
  LeeJehwan/ch14/14.3.3.html
  LeeJehwan/ch14/14.3.4.html
  LeeJehwan/ch14/14.4.html
  LeeJehwan/ch14/14.5.1.html
  LeeJehwan/ch14/14.5.2.html
  LeeJehwan/ch14/14.5.3.html
  LeeJehwan/ch14/14.5.4.html
  LeeJehwan/ch14/14.6.1.html
  LeeJehwan/ch14/14.6.2.html
  LeeJehwan/ch14/14.7.html
  LeeJehwan/ch14/elt.js
Labels: Jehwan

#87 [Chapter14] Upload code for 문서제어
  ChoiEunjoung/Chapter14/elt.js
  ChoiEunjoung/Chapter14/ex14-1.html
  ChoiEunjoung/Chapter14/ex14-10.html
  ChoiEunjoung/Chapter14/ex14-11.html
  ChoiEunjoung/Chapter14/ex14-12.js
  ChoiEunjoung/Chapter14/ex14-13.html
  ChoiEunjoung/Chapter14/ex14-14.html
  ChoiEunjoung/Chapter14/ex14-2.js
  ChoiEunjoung/Chapter14/ex14-3.html
  ChoiEunjoung/Chapter14/ex14-4.html
  ChoiEunjoung/Chapter14/ex14-5.html
  ChoiEunjoung/Chapter14/ex14-6.html
  ChoiEunjoung/Chapter14/ex14-7.html
  ChoiEunjoung/Chapter14/ex14-8.html
  ChoiEunjoung/Chapter14/ex14-9.html
Labels: EUNJOUNG

#75 [Practice] upload word count
  LeeJehwan/practice/ex1.js
  LeeJehwan/practice/ex2.js
  LeeJehwan/practice/sample.txt
  LeeJehwan/practice/sample2.txt
  practice/img.png
  practice/practice1.md
Labels: Jehwan

#84 [Chater14] Upload 14.1 to 14.2 code
  JeongSungWon/ch14/ch14_1(512p).html
  JeongSungWon/ch14/ch14_1.js
  JeongSungWon/ch14/ch14_2.js
  JeongSungWon/ch14/ch14_2_1.html
  JeongSungWon/ch14/ch14_2_2.html
  JeongSungWon/ch14/ch14_2_3.html
  JeongSungWon/ch14/ch14_2_4.html
  JeongSungWon/ch14/ch14_2_5.html
  JeongSungWon/ch14/ch14_2_6.html
Labels: SungWon

#88 [Chapter14] upload chapter 14.8 code
  LeeJehwan/ch14/14.8.1.html
  LeeJehwan/ch14/14.8.2.html
  LeeJehwan/ch14/14.8.3.html
  LeeJehwan/ch14/14.8.4.html
  LeeJehwan/ch14/14.8.5.html
  LeeJehwan/ch14/add_ex.html
  LeeJehwan/ch14/card.js
  LeeJehwan/ch14/card_style.css
Labels: Jehwan

#91 [Chapter15] add Chapter 15 code
  ChoiEunjoung/Chapter15/ex15-1.js
  ChoiEunjoung/Chapter15/ex15-10.js
  ChoiEunjoung/Chapter15/ex15-2.html
  ChoiEunjoung/Chapter15/ex15-3.html
  ChoiEunjoung/Chapter15/ex15-4.html
  ChoiEunjoung/Chapter15/ex15-5.html
  ChoiEunjoung/Chapter15/ex15-6.html
  ChoiEunjoung/Chapter15/ex15-7.html
  ChoiEunjoung/Chapter15/ex15-8.html
  ChoiEunjoung/Chapter15/ex15-9.html
Labels: EUNJOUNG

#90 [Chapter15] upload chapter 15
  LeeJehwan/ch15/15.2.html
  LeeJehwan/ch15/15.3.1.html
  LeeJehwan/ch15/15.3.2.html
  LeeJehwan/ch15/15.4.1.html
  LeeJehwan/ch15/15.4.2.html
  LeeJehwan/ch15/15.4.3.html
  LeeJehwan/ch15/15.4.4.html
  LeeJehwan/ch15/15.5.html
  LeeJehwan/ch15/15.6.html
  LeeJehwan/ch15/15.7.html
  LeeJehwan/ch15/15.8.js
  LeeJehwan/ch15/elt.js
Labels: Jehwan

#89 [Chapter14] Upload 14.3 to 14.8
  JeongSungWon/ch14/card.js
  JeongSungWon/ch14/card_style.css
  JeongSungWon/ch14/ch14_3.js
  JeongSungWon/ch14/ch14_3_1.html
  JeongSungWon/ch14/ch14_3_2.html
  JeongSungWon/ch14/ch14_3_3.html
  JeongSungWon/ch14/ch14_3_4.html
  JeongSungWon/ch14/ch14_4.js
  JeongSungWon/ch14/ch14_4_1.html
  JeongSungWon/ch14/ch14_4_2.html
  JeongSungWon/ch14/ch14_4_3.html
  JeongSungWon/ch14/ch14_5.js
  JeongSungWon/ch14/ch14_5_1.html
  JeongSungWon/ch14/ch14_5_2.html
  JeongSungWon/ch14/ch14_6.js
  JeongSungWon/ch14/ch14_6_1.html
  JeongSungWon/ch14/ch14_7.js
  JeongSungWon/ch14/ch14_7_1.html
  JeongSungWon/ch14/ch14_8_1.html
  JeongSungWon/ch14/ch14_8_2.html
  JeongSungWon/ch14/ch14_8_3.html
  JeongSungWon/ch14/ch14_8_4.html
  JeongSungWon/ch14/ch14_8_5.html
  JeongSungWon/ch14/elt.js
  JeongSungWon/ch14/ex.html
Labels: SungWon

#94 [Chapter16] HTTP 제어(Ajax)
  LeeJehwan/ch16/16.3.1.html
  LeeJehwan/ch16/16.3.2.html
  LeeJehwan/ch16/16.3.3.html
  LeeJehwan/ch16/16.3.4.html
  LeeJehwan/ch16/16.4.1.html
  LeeJehwan/ch16/16.4.2.html
  LeeJehwan/ch16/16.5.1.html
  LeeJehwan/ch16/16.5.2.html
  LeeJehwan/ch16/16.5.3.html
  LeeJehwan/ch16/data.json
  LeeJehwan/ch16/data.txt
  LeeJehwan/ch16/jsonp.js
Labels: Jehwan

#92 [Chapter15] upload 15 code
  JeongSungWon/ch15/ch15_1.js
  JeongSungWon/ch15/ch15_2.js
  JeongSungWon/ch15/ch15_2_1.html
  JeongSungWon/ch15/ch15_2_2.html
  JeongSungWon/ch15/ch15_3_1.html
  JeongSungWon/ch15/ch15_3_2.html
  JeongSungWon/ch15/ch15_4_1.html
  JeongSungWon/ch15/ch15_4_2.html
  JeongSungWon/ch15/ch15_4_3.html
  JeongSungWon/ch15/ch15_4_4.html
  JeongSungWon/ch15/ch15_5_1.html
  JeongSungWon/ch15/ch15_5_2.html
  JeongSungWon/ch15/ch15_5_3.html
  JeongSungWon/ch15/ch15_5_4.html
  JeongSungWon/ch15/ch15_5_5.html
  JeongSungWon/ch15/ch15_6_1.html
  JeongSungWon/ch15/ch15_6_2.html
  JeongSungWon/ch15/ch15_7_1.html
  JeongSungWon/ch15/ch15_8.js
  JeongSungWon/ch15/ch15_8_1.html
  JeongSungWon/ch15/elt.js
Labels: SungWon

#93 [Chapter16] add code
  ChoiEunjoung/Chapter15/ex15-10.js
  ChoiEunjoung/Chapter16/data.json
  ChoiEunjoung/Chapter16/data.txt
  ChoiEunjoung/Chapter16/ex16-1.js
  ChoiEunjoung/Chapter16/ex16-2.js
  ChoiEunjoung/Chapter16/ex16-3.html
  ChoiEunjoung/Chapter16/ex16-4.html
  ChoiEunjoung/Chapter16/ex16-5.html
  ChoiEunjoung/Chapter16/ex16-6.html
  ChoiEunjoung/Chapter16/ex16-7.html
  ChoiEunjoung/Chapter16/ex16-9.html
  ChoiEunjoung/Chapter16/ex16.8.html
  ChoiEunjoung/Chapter16/other.html
Labels: EUNJOUNG
