Repository Alpha-ka-JS/Modern-JS, pull requests merged in 2020-07, with the labels that each got.

#26 [Chapter7] upload chapter 7 code
  JeongSungWon/ch7/ch7_2.js
  JeongSungWon/ch7/ch7_2_1.html
  JeongSungWon/ch7/ch7_3.js
  JeongSungWon/ch7/ch7_3_1.html
  JeongSungWon/ch7/ch7_3_2.html
  JeongSungWon/ch7/ch7_3_3.html
  JeongSungWon/ch7/ch7_4.js
  JeongSungWon/ch7/ch7_5_1.html
  JeongSungWon/ch7/ch7_5_2.html
Labels: SungWon

#27 [Chapter7] Post chapter 7 code
  ChoiEunjoung/Chapter7/ex7-1.js
  ChoiEunjoung/Chapter7/ex7-2.html
  ChoiEunjoung/Chapter7/ex7-3.html
  ChoiEunjoung/Chapter7/ex7-4.js
  ChoiEunjoung/Chapter7/ex7-5.html
  ChoiEunjoung/Chapter7/ex7-6.html
Labels: EUNJOUNG

#28 [Chapter6] Upload code for 6.3 to 6.4
  ChoiEunjoung/Chapter6/ex6-4.html
  ChoiEunjoung/Chapter6/ex6-5.html
  ChoiEunjoung/Chapter6/ex6-6.html
  ChoiEunjoung/Chapter6/ex6-7.html
Labels: EUNJOUNG

#29 [Chapter7] add chapter7 code!
  LeeJehwan/ch7/7.2.1.js
  LeeJehwan/ch7/7.2.2.html
  LeeJehwan/ch7/7.2.3.js
  LeeJehwan/ch7/7.3.1.js
  LeeJehwan/ch7/7.3.10.js
  LeeJehwan/ch7/7.3.2.js
  LeeJehwan/ch7/7.3.3.js
  LeeJehwan/ch7/7.3.4.js
  LeeJehwan/ch7/7.3.5.html
  LeeJehwan/ch7/7.3.6.js
  LeeJehwan/ch7/7.3.7.html
  LeeJehwan/ch7/7.3.8.js
  LeeJehwan/ch7/7.3.9.html
  LeeJehwan/ch7/7.4.js
  LeeJehwan/ch7/7.5.1.html
  LeeJehwan/ch7/7.5.2.html
Labels: Jehwan

#30 [Chapter6] add code chapter6
  ChoiEunjoung/Chapter6/ex6-10.html
  ChoiEunjoung/Chapter6/ex6-11.html
  ChoiEunjoung/Chapter6/ex6-12.html
  ChoiEunjoung/Chapter6/ex6-8.html
  ChoiEunjoung/Chapter6/ex6-9.html
  ChoiEunjoung/Chapter6/iu.jpg
Labels: EUNJOUNG

#31 [Chapter8] Upload chapter 8 code for 8.1 to 8.5
  JeongSungWon/ch8/ch8_1.js
  JeongSungWon/ch8/ch8_2.js
  JeongSungWon/ch8/ch8_3.js
  JeongSungWon/ch8/ch8_4.html
  JeongSungWon/ch8/ch8_4.js
  JeongSungWon/ch8/ch8_5.js
Labels: SungWon

#32 [Chapter8] upload chapter 8.1 ~ 8.5 code
  LeeJehwan/ch8/8.1.js
  LeeJehwan/ch8/8.2.js
  LeeJehwan/ch8/8.3.js
  LeeJehwan/ch8/8.4.1.js
  LeeJehwan/ch8/8.4.2.html
  LeeJehwan/ch8/8.5.1.json
  LeeJehwan/ch8/8.5.2.html
  LeeJehwan/ch8/8.5.3.js
Labels: Jehwan

#33 [Chapter8] upload code for ch8
  ChoiEunjoung/Chapter8/ex.8-13.html
  ChoiEunjoung/Chapter8/ex8-1.js
  ChoiEunjoung/Chapter8/ex8-10.js
  ChoiEunjoung/Chapter8/ex8-11.js
  ChoiEunjoung/Chapter8/ex8-12.js
  ChoiEunjoung/Chapter8/ex8-14.js
  ChoiEunjoung/Chapter8/ex8-2.js
  ChoiEunjoung/Chapter8/ex8-3.js
  ChoiEunjoung/Chapter8/ex8-4.js
  ChoiEunjoung/Chapter8/ex8-5.html
  ChoiEunjoung/Chapter8/ex8-6.html
  ChoiEunjoung/Chapter8/ex8-7.js
  ChoiEunjoung/Chapter8/ex8-8.js
  ChoiEunjoung/Chapter8/ex8-9.js
Labels: EUNJOUNG

#35 [Chapter8] add chapter from 8.6 to 8.11
  LeeJehwan/ch8/8.11.1.js
  LeeJehwan/ch8/8.11.2.html
  LeeJehwan/ch8/8.11.3.js
  LeeJehwan/ch8/8.6.1.js
  LeeJehwan/ch8/8.6.2.html
  LeeJehwan/ch8/8.6.3.html
  LeeJehwan/ch8/8.7.js
  LeeJehwan/ch8/8.8.js
  LeeJehwan/ch8/8.9.js
Labels: Jehwan

#43 [CircleCI] Add .circleci/config.yml
  .circleci/config.yml
Labels: Jehwan

#34 [Chapter8] Upload chapter 8 code for 8.6 to 8.11
  JeongSungWon/ch8/ch8_11.js
  JeongSungWon/ch8/ch8_11_1(327p).html
  JeongSungWon/ch8/ch8_6.js
  JeongSungWon/ch8/ch8_6_1(296p).html
  JeongSungWon/ch8/ch8_7.js
  JeongSungWon/ch8/ch8_8.js
  JeongSungWon/ch8/ch8_9.js
Labels: SungWon

#47 add eslint and prettier
  JeongSungWon/ch2/factoria.html
  JeongSungWon/ch2/factorial.js
  JeongSungWon/ch2/factorial2.js
  JeongSungWon/ch3/ch_3-2.js
  JeongSungWon/ch3/ch_3-3.js
  JeongSungWon/ch4/ch_4-1.js
  JeongSungWon/ch4/ch_4-2.js
  JeongSungWon/ch4/ch_4-3.js
  JeongSungWon/ch4/ch_4-4.js
  JeongSungWon/ch4/ch_4-5.js
  JeongSungWon/ch5/ch5_2.js
  JeongSungWon/ch5/ch5_3.js
  JeongSungWon/ch5/ch5_4.js
  JeongSungWon/ch5/ch5_6.js
  JeongSungWon/ch5/ch5_7.js
  JeongSungWon/ch6/ch6_2.html
  JeongSungWon/ch6/ch6_3_2.html
  JeongSungWon/ch6/ch6_3_3.html
  JeongSungWon/ch6/ch6_3_4.html
  JeongSungWon/ch6/ch6_4_1.html
  JeongSungWon/ch6/ch6_4_2.html
  JeongSungWon/ch6/ch6_4_3.html
  JeongSungWon/ch6/ch6_5(ex6-6).js
  JeongSungWon/ch6/ch6_5_1-6.html
  JeongSungWon/ch6/ch6_5_7.html
  JeongSungWon/ch6/ch6_5_8.html
  JeongSungWon/ch7/ch7_2.js
  JeongSungWon/ch7/ch7_2_1.html
  JeongSungWon/ch7/ch7_3.js
  JeongSungWon/ch7/ch7_3_1.html
  JeongSungWon/ch7/ch7_3_2.html
  JeongSungWon/ch7/ch7_3_3.html
  JeongSungWon/ch7/ch7_4.js
  JeongSungWon/ch7/ch7_5_1.html
  JeongSungWon/ch7/ch7_5_2.html
  JeongSungWon/ch8/ch8_1.js
  JeongSungWon/ch8/ch8_11.js
  JeongSungWon/ch8/ch8_11_1(327p).html
  JeongSungWon/ch8/ch8_2.js
  JeongSungWon/ch8/ch8_3.js
  JeongSungWon/ch8/ch8_4.html
  JeongSungWon/ch8/ch8_4.js
  JeongSungWon/ch8/ch8_5.js
  JeongSungWon/ch8/ch8_6.js
  JeongSungWon/ch8/ch8_6_1(296p).html
  JeongSungWon/ch8/ch8_7.js
  JeongSungWon/ch8/ch8_8.js
  JeongSungWon/ch8/ch8_9.js
  JeongSungWon/ch9/ch9_1.js
  JeongSungWon/ch9/ch9_1_1(340p).html
  JeongSungWon/ch9/ch9_2.js
  JeongSungWon/test/test.js
  JeongSungWon/test/test1.js
  package-lock.json
  package.json
Labels: SungWon

#50 add eslint and prettier
  ChoiEunjoung/Chapter2/factorial.html
  ChoiEunjoung/Chapter2/factorial.js
  ChoiEunjoung/Chapter2/factorial2.js
  ChoiEunjoung/Chapter3/ex2.js
  ChoiEunjoung/Chapter3/ex3.js
  ChoiEunjoung/Chapter4/ex4-1.js
  ChoiEunjoung/Chapter4/ex4-2.js
  ChoiEunjoung/Chapter4/ex4-3.js
  ChoiEunjoung/Chapter4/ex4-4.js
  ChoiEunjoung/Chapter4/ex4-5.js
  ChoiEunjoung/Chapter5/ex5-1.js
  ChoiEunjoung/Chapter5/ex5-2.js
  ChoiEunjoung/Chapter5/ex5-3.js
  ChoiEunjoung/Chapter5/ex5-4.js
  ChoiEunjoung/Chapter5/ex5-5.js
  ChoiEunjoung/Chapter6/ex6-1.html
  ChoiEunjoung/Chapter6/ex6-10.html
  ChoiEunjoung/Chapter6/ex6-11.html
  ChoiEunjoung/Chapter6/ex6-12.html
  ChoiEunjoung/Chapter6/ex6-2.html
  ChoiEunjoung/Chapter6/ex6-3.html
  ChoiEunjoung/Chapter6/ex6-4.html
  ChoiEunjoung/Chapter6/ex6-5.html
  ChoiEunjoung/Chapter6/ex6-6.html
  ChoiEunjoung/Chapter6/ex6-7.html
  ChoiEunjoung/Chapter6/ex6-8.html
  ChoiEunjoung/Chapter6/ex6-9.html
  ChoiEunjoung/Chapter7/ex7-1.js
  ChoiEunjoung/Chapter7/ex7-2.html
  ChoiEunjoung/Chapter7/ex7-3.html
  ChoiEunjoung/Chapter7/ex7-4.js
  ChoiEunjoung/Chapter7/ex7-5.html
  ChoiEunjoung/Chapter7/ex7-6.html
  ChoiEunjoung/Chapter8/ex.8-13.html
  ChoiEunjoung/Chapter8/ex8-1.js
  ChoiEunjoung/Chapter8/ex8-11.js
  ChoiEunjoung/Chapter8/ex8-12.js
  ChoiEunjoung/Chapter8/ex8-14.js
  ChoiEunjoung/Chapter8/ex8-2.js
  ChoiEunjoung/Chapter8/ex8-3.js
  ChoiEunjoung/Chapter8/ex8-4.js
  ChoiEunjoung/Chapter8/ex8-5.html
  ChoiEunjoung/Chapter8/ex8-6.html
  ChoiEunjoung/Chapter8/ex8-7.js
  ChoiEunjoung/Chapter8/ex8-8.js
  ChoiEunjoung/Chapter8/ex8-9.js
  ChoiEunjoung/test.js
  package.json
Labels: EUNJOUNG

#57 [CircleCI] update circleci.yml
  .circleci/check.sh
  .circleci/config.yml
  LeeJehwan/ch8/8.1.js
Labels: Jehwan

#41 [Chapter9] upload chapter 9 code 9.1 to 9.5
  LeeJehwan/ch9/9.1.1.js
  LeeJehwan/ch9/9.1.2.html
  LeeJehwan/ch9/9.2.js
  LeeJehwan/ch9/9.3.js
  LeeJehwan/ch9/9.4.js
  LeeJehwan/ch9/9.5.js
Labels: Jehwan

#49 [Chapter9] Upload 9.2 to 9.5 source code
  JeongSungWon/ch9/ch9_2_1.js
  JeongSungWon/ch9/ch9_3.js
  JeongSungWon/ch9/ch9_4.js
  JeongSungWon/ch9/ch9_5.js
Labels: SungWon

#58 [Chapter9] 9.1 to 9.5
  ChoiEunjoung/Chapter9/ex9-1.js
  ChoiEunjoung/Chapter9/ex9-2.html
  ChoiEunjoung/Chapter9/ex9-3.js
  ChoiEunjoung/Chapter9/ex9-4.js
  ChoiEunjoung/Chapter9/ex9-5.js
  ChoiEunjoung/Chapter9/ex9-6.js
  ChoiEunjoung/Chapter9/ex9-7.js
  ChoiEunjoung/Chapter9/ex9-8.js
  ChoiEunjoung/Chapter9/ex9-9.js
Labels: EUNJOUNG
